.l-header {
  background-color: rgb(73, 73, 73);
  color: #fff;
  height: 80px;
  font-size: 1.8rem;
  box-shadow: 0px 5px 15px -5px #777777;

  &__ttl {
    font-size: 3rem;
    font-weight: bold;
  }

  &__inner {
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__navs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  &__gnav {
    margin-right: 20px;
  }

  &__link {
    transition: all 0.3s ease;

    &:hover {
      color: #1867c0;
      text-decoration: underline;
    }
  }

  &__btn {
    width: 120px;
    padding: 10px 0;

    &:hover {
      opacity: 1;
    }
  }
}