@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

* {
  font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, sans-serif;
}

html {
  font-size: 10px;
  color: #333;
}

body {
  background-color: #ebebeb;
  letter-spacing: 0.2em;
  overflow-x: hidden;
}

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

p, span {
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

input, textarea {
  border: 1px solid #333;
  font-size: 1.6rem;
  padding: 3px 0.6rem;
  background-color: #fff;
}

input {
  height: 2.5rem;
}

input[type=file] {
  border: none;
  background-color: transparent;
}

.l-header {
  background-color: rgb(73, 73, 73);
  color: #fff;
  height: 80px;
  font-size: 1.8rem;
  box-shadow: 0px 5px 15px -5px #777777;
}
.l-header__ttl {
  font-size: 3rem;
  font-weight: bold;
}
.l-header__inner {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.l-header__navs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.l-header__gnav {
  margin-right: 20px;
}
.l-header__link {
  transition: all 0.3s ease;
}
.l-header__link:hover {
  color: #1867c0;
  text-decoration: underline;
}
.l-header__btn {
  width: 120px;
  padding: 10px 0;
}
.l-header__btn:hover {
  opacity: 1;
}

.l-inner {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.c-btn {
  display: block;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.c-btn:hover {
  opacity: 1;
}
.c-btn--primary {
  background-color: #167df0;
  border-color: #167df0;
  color: #fff;
}
.c-btn--danger {
  background-color: #ff4949;
  border-color: #ff4949;
  color: #fff;
}

.c-card {
  border-radius: 10px;
  box-shadow: 0 12px 20px #8f8f8f;
  padding: 30px;
}

.c-error-msg {
  margin-top: 5px;
  font-size: 1.2rem;
  color: #ff4949;
}

.c-section {
  margin: 100px 0 50px;
}
.c-section__ttl {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.c-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.6rem;
}
.c-pagination__item {
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 2.5em;
  height: 2.5em;
}
.c-pagination__item:hover {
  border-color: #8d8d8d;
}
.c-pagination__item--current {
  background-color: #167df0;
  color: #fff;
  border-color: #167df0;
  pointer-events: none;
}
.c-pagination__item--prev, .c-pagination__item--next {
  width: 4em;
}
.c-pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.p-row-groups {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
}
.p-row-groups *:not(:last-child) {
  margin-right: 20px;
}

.p-login-btn {
  background-color: #167df0;
  border-color: #167df0;
}

.p-signinup {
  max-width: 700px;
  margin: 100px auto 50px;
  background-color: #fff;
  font-size: 1.6rem;
}
.p-signinup__ttl {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.p-signinup__form {
  margin-bottom: 40px;
}
.p-signinup__fields {
  width: 80%;
  margin: 0 auto 20px;
  display: flex;
  flex-wrap: wrap;
}
.p-signinup__label {
  width: 150px;
}
.p-signinup__input {
  width: calc(100% - 150px);
  margin-bottom: 20px;
}
.p-signinup__help {
  display: block;
  font-size: 1.2rem;
  margin-top: 5px;
}
.p-signinup__errors {
  margin-bottom: 20px;
  text-align: center;
}
.p-signinup__submit {
  margin: 0 auto;
  padding: 10px 0;
  width: 250px;
}
.p-signinup__link {
  color: #1867c0;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
.p-signinup__link:hover {
  color: #477ebd;
}

.p-board-create {
  margin-top: 100px;
  font-size: 1.6rem;
}
.p-board-create__form {
  margin: 50px 0;
}
.p-board-create__label {
  margin-bottom: 10px;
}
.p-board-create__input {
  margin-bottom: 30px;
}
.p-board-create__fields {
  width: 100%;
  margin-bottom: 40px;
}
.p-board-create__submit {
  padding: 10px 0;
  width: 150px;
}

.p-boards__list {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 30px;
  margin-bottom: 30px;
}
.p-boards__card {
  background-color: #fff;
  display: block;
  word-wrap: break-word;
}
.p-boards__board-ttl {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #1867c0;
}
.p-boards__board-ttl:hover {
  color: #333;
}
.p-boards__created, .p-boards__updated {
  display: block;
  font-size: 1.2rem;
}

.p-board {
  font-size: 1.6rem;
}
.p-board__heading {
  margin-bottom: 30px;
}
.p-board__ttl {
  margin-bottom: 10px;
}
.p-board__description {
  font-size: 1.8rem;
}
.p-board__comments {
  margin-bottom: 40px;
}

.p-board-form {
  font-size: 1.6rem;
}
.p-board-form__label {
  margin-bottom: 10px;
}
.p-board-form__input {
  margin-left: 10px;
  margin-bottom: 20px;
}
.p-board-form__submit {
  padding: 10px 0;
  width: 120px;
}

.p-comment {
  font-size: 1.6rem;
  border-bottom: 1px solid #333;
  padding: 20px 0;
  word-wrap: break-word;
}
.p-comment__meta {
  font-weight: bold;
}
.p-comment__body {
  margin: 10px 0;
  padding: 0 1.6rem;
}

.p-error__ttl {
  font-size: 4.5rem;
  margin-bottom: 30px;
}
.p-error__description {
  font-size: 2rem;
  margin-bottom: 50px;
}
.p-error__link {
  color: #1867c0;
  font-size: 1.6rem;
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */