.c-btn {
  display: block;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  opacity: 0.9;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &--primary {
    background-color: #167df0;
    border-color: #167df0;
    color: #fff;
  }

  &--danger {
    background-color: #ff4949;
    border-color: #ff4949;
    color: #fff;
  }
}